.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    padding-top: 10vh;
}

.login-box {
    width: 100%;
    padding: 2.5rem 1.5rem;
    border-radius: 0;
    box-shadow: none;
}

.login-logo {
    text-align: center;
    margin-bottom: 2.5rem;
}

.login-logo h1 {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.login-logo p {
    color: var(--Gray-600);
    font-size: 0.9rem;
}

.login-form .form-group {
    margin-bottom: 0.5rem;
}

.login-form .form-options {
    display: flex;
    justify-content: space-between;
    color: var(--Gray-600);
    font-size: 0.9rem;
}


.form-options {
    margin: 1rem 0;
}

.form-options .remember {
    display: flex;
    align-items: center;
}

.form-options .remember input {
    width: auto;
    margin-right: 0.5rem;
}

.login-footer {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    text-align: center;
}

.login-footer a {
    color: var(--main-color);
    text-decoration: none;
    margin-left: 0.5rem;
}

.login-footer a:hover {
    text-decoration: underline;
}