@charset "utf-8";

body {
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    background-color: var(--main-color);
    color: #fff;
    text-shadow: 2px 2px 2px #00000050;
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.wrap.fade {
    opacity: 0;
}

.wrap p {
    font-weight: normal;
}

/* onboarding1.html */
.wrap.onboard {
    background-color: #fafafa;
    color: var(--Gray-800);
    text-shadow: none;
    justify-content: center;
    gap: 2rem;
}

.wrap.onboard .img-box {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    margin-top: 2rem;
    width: 250px;
    object-fit: contain;
}

.box {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    height: 40%;
    text-align: center;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 6px #00000025;
}

.box h1 {
    font-size: 1.25rem;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem 0 2rem;
}

.dots span {
    width: 10px;
    height: 10px;
    background-color: var(--main-100);
    border-radius: 5px;
    transition: 0.3s;
}

.dots span.active {
    width: 28px;
    background-color: var(--main-color);
}

.box a {
    display: block;
    /* position: absolute; */
    /* bottom: 2rem; */
    /* width:  calc(100% - 4rem); */
}

